.turnButton{
  width: 190px;
}
.addAIButton{
  width: 160px;
}
.addPlayerButton{
  width: 130px;
}

.turnButton span:after{
  content: '\00bb';
}
.addAIButton span:after, .addPlayerButton span:after {
  content: '+';
}

.turnButton, .addAIButton, .addPlayerButton {
  border: none;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  /*width*/
  height: 40px;
}

.turnButton span,.addAIButton span,.addPlayerButton span {
  /*content*/
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.turnButton span:after, .addAIButton span:after, .addPlayerButton span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}

.turnButton:hover span, .addAIButton:hover span,.addPlayerButton:hover span {
  padding-right: 25px;
}

.turnButton:hover span:after, .addAIButton:hover span:after,.addPlayerButton:hover span:after {
  opacity: 1;
  right: 0;
}

/* Chrome */
button {
  outline:none;
}