/*Global*/
.obutton, .opbutton, .cog, .cogspin{
    height: 45px;
}

/*Options*/
.obutton, .opbutton {
    transition: all 0.2s;
    background-color: #fcfcfc;
    border: none;
    transform: translateY(-1px);
    padding: 0px 10px;
  }
.opbutton {
    background-color: #b6c4d4;
}

.obutton:hover{
    background-color: #d8d8d8;
}
.opbutton:hover{
    background-color: #93a0ad;
}

/*Options button*/
.cog, .cogspin {
    width: 50px;
    border: none;
    background-color: #fff;
}
.cogspin{
    background-color: #fcfcfc;
}

/*Gear Icon*/
.cog i, .cogspin i{
    font-size: 18px;
    left: -1px;
    top: 2px;
    transition: all 0.2s;
}
.cog:hover i{
    transform: rotate(-45deg);
}
.cogspin i{
    animation: spin .8s linear 0s infinite;
}

/*Acordion*/
.whitebox {
    display: inline-block;
    transition: transform .3s;
    transform-origin: left;
    position: absolute;
    left: 51px;
    height: 45px;
    width: 316px;
    background-color: #fff;
  }

.squish {
    transform: scaleX(0);
    transform-origin: right;
}

/*Help Button*/
.help{
    padding: 0px 15px;
}

.help:hover div{
    animation-name: wiggle;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.89,.38,.16,.74);
}

.help:hover div div{
    animation-name: float;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.82,.4,.16,.57);
}

@keyframes wiggle{
    0% {transform: rotate(10deg)}
    50% {transform: rotate(-10deg)}
    100% {transform: rotate(10deg)}
}

@keyframes float{
    0% {transform: translateY(2px)}
    50% {transform: translateY(-2px)}
    100% {transform: translateY(2px)}
}

@keyframes spin{
    from {transform: rotate(0deg);}
    to {transform: rotate(-45deg);}
}