.rules, .rulesHide, .rulesPressed{
    position: fixed;
    border: none;
    top: 0px;
    right: 0px;
    background-color: #85bbf5;
    color: white;
    transform: translateX(40px);
    transition: 0.5s;
    padding: 5px 15px;
    z-index: 1;
  }
  .rules:hover{
    transform: translateX(30px);
    background-color: #90cfec;
  }

  .rulesHide{
    transform: translateX(100px);
  }

  .rulesPressed{
    background-color: #bdbfc0;
    color: black;
    transform: translateX(20px);
  }