.rules{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #85bbf5 !important;
    color: white !important;
    transform: translateX(35px);
    transition: 0.5s;
  }
  .rules:hover{
    transform: translateX(15px);
  }
  
  .rulesp{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #bdbfc0 !important;
    transform: translateX(15px);
    transition: 0.5s;
  }
  
  .rulesr{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #85bbf5 !important;
    color: white !important;
    transform: translateX(100px);
  }