.rules, .rulesHide, .rulesPressed{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #85bbf5 !important;
    color: white !important;
    transform: translateX(35px);
    transition: 0.5s;
  }
  .rules:hover{
    transform: translateX(15px);
  }

  .rulesHide{
    transform: translateX(100px);
  }

  .rulesPressed{
    background-color: #bdbfc0 !important;
    color: black !important;
    transform: translateX(15px);
  }